<%= stylesheet_link_tag 'one' %>
<!--<div id="footer" class="bg-dark p-5 mt-5 text-lg-center">-->
<!--  <p>Ashley Chang 0978022857</p>-->
<!--  <p>maymay51885188@gmail.com</p>-->
<!--  <p>COPYRIGHT@2018 ASHLEY ALL RIGHTS RESERVED.</p>-->
<!--</div>-->

<footer class="container-fluid" >
  <div class="row bg-dark p-5 mt-5 ">
    <p class="text-center col-12">Ashley Chang</p><br />
    <p class="text-center col-12">maymay51885188@gmail.com</p><br />
    <p class="text-center col-12">COPYRIGHT@2018 ASHLEY ALL RIGHTS RESERVED.</p>
</footer>