<%= stylesheet_link_tag 'one' %>
<div id="footer" class="bg-dark p-5 mt-5 text-lg-center">
  <p>Ashley Chang 0978022857</p>
  <p>maymay51885188@gmail.com</p>
  <p>COPYRIGHT@2018 ASHLEY ALL RIGHTS RESERVED.</p>
</div>
