<body>


    <div class="test3"><%= image_tag("planet3.png", size: "837x630")%></div>

    <div class="test4">

      <%= link_to "新增文章", new_picture_path %>
      <%= link_to "文章瀏覽", article_index_path %>

    </div>

</body>
