body{
  font-family: sans-serif;
  margin:0;
  padding:0;
  background:#FFF;
}
#first{
  margin-top:0px;
  // background: -webkit-linear-gradient(white,#FFFFBB);
  // background: -o-linear-gradient(white,#FFFFBB);
  // background: -moz-linear-gradient(white,#FFFFBB);
  // background: linear-gradient(white,#FFFFBB);
}
.test{
  display: inline-block;
  width: 100%;
  background:#DDDDDD;
}
.test1{
  height:auto;
  width: 50%;
  float: left;
  display: inline-block;
  padding: 15px 0 10px 20px;
  

}
.test1 a{
  text-decoration: none;
  font-size: 20px;
  color: 	#666666;
}
.test2{
  display: inline-block;
  height:auto;
  width: 20%;
  float: right;
  padding: 15px 20px 10px 15px;
  word-spacing: 10px;
}
.test2 ul li{
  list-style-type: none;
  display: inline-block;
}

.test2 ul li a{
  text-decoration: none;
  color: 	#666666;
  font-size: 20px;
}
.test3{
  width: 100%;
  text-align:center;
  padding-bottom: 20px;
}
.test4{
  font-size: 20px;
  padding: 20px 0 0 40px;
  text-align: center;
  word-spacing: 40px;
  margin: 20px 0 20px 0;

}
.test4 a{
  text-decoration: none;
  border-style:dashed;
  padding: 20px;
  font-size: 40px;
  border-radius: 25px;
  color: 	#AAAAAA;
}
.test5 a{
  text-decoration: none;
  letter-spacing: 2px;

}
