body{
  font-family:Microsoft JhengHei;
}
.word{
  font-size: 20px;
}
body{
  position:relative;
}
#footer{
  color: #fff;
  position: relative;
  margin-top: -180px;
  height: 180px;
  clear:both;
  bottom: 0;
  // width: 100%;
  // height: auto;
  // box-sizing: border-box;
  // position:fixed;
  // left:0;
  // z-index:1;
  // position:absolute; 
  // grid-row-start: 2;
  // grid-row-end: row-end;
  
}
.img{
  margin:0 auto;
}
.border-shadow {
  transition: box-shadow 0.3s ease-in-out;
  &:hover {
    box-shadow: 0 10px 30px -10px rgba(#000, 0.4);
  }
}
#shadow a{
  text-decoration : none;
  color: #2F3061;
}
#shadow a:hover{
    color:#DB7F8E;
    transition:color 0s;
    -moz-transition:color 0s;
    -webkit-transition:color 0s;
    -o-transition:color 0s;    
}
#Box2,#Box3,#Box4{
    width:100%;
    height:auto;
    padding:10px;
    border:1px #ccc dashed;
    margin: 0 auto;
}